<div class="side-note-wrapper">
    <div class="side-note">
        Mercado Libre es una plataforma electrónica que pone en contacto a usuarios vendedores y a consumidores finales,
        por lo
        que Mercado Libre no es responsable por los términos y condiciones de cada una de las ofertas que realice cada
        usuario.
        Mercado Libre no es responsable por la existencia o calidad de los productos, tiempos de entrega, por la
        legitimidad de
        la operación, ni por el efectivo cumplimiento de las obligaciones asumidas por el vendedor o el comprador. El
        sitio web
        de Mercado Libre, ubicado en la URL: https://www.mercadolibre.com.ve/ es un sitio web operado por MercadoLibre
        Venezuela
        S.R.L. RIF: J-30684267-5.
    </div>
</div>
<div class="extra-links">
    <div class="extra-links-switch">
        <div class="mas-info">
            <span class="mas-info-span">Más información </span>
            <span class=" iconify mas-info-icon" data-icon="dashicons:arrow-up-alt2"></span>
        </div>
    </div>
    <div class="extra-links-cont">
        <div class="extra-links-col">
            <div class="extra-links-col-title">Acerca de</div>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Mercado Libre</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Investor relations</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Tendencias</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Sustentabilidad</div>
            </a>
        </div>
        <div class="extra-links-col">
            <div class="extra-links-col-title">Otros sitios</div>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Developers</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Mercado Pago</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Mercado Shops</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Mercado Envíos</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Mercado Ads</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Mercado Libre Ideas</div>
            </a>
        </div>
        <div class="extra-links-col">
            <div class="extra-links-col-title">Ayuda</div>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Compra</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Vender</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Resolución de problemas</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Centro de seguridad</div>
            </a>
        </div>
        <div class="extra-links-col">
            <div class="extra-links-col-title">Redes sociales</div>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Twitter</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Facebook</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Instagram</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Youtube</div>
            </a>
        </div>
        <div class="extra-links-col">
            <div class="extra-links-col-title">Mi cuenta</div>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Resumen</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Favoritos</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Vender</div>
            </a>
        </div>
        <div class="extra-links-col">
            <div class="extra-links-col-title">Mercado Puntos</div>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">HBO MAX</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Disney+</div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="extra-links-col-link">Paramount+</div>
            </a>
        </div>
    </div>
</div>
<footer>
    <div class="footer-link-wrapper">
        <div class="footer-link">Trabajá con nosotros</div>
        <div class="footer-link">Términos y condiciones</div>
        <div class="footer-link">Cómo cuidamos tu privacidad</div>
        <div class="footer-link">Información al usuario financiero</div>
        <div class="footer-link">Ayuda</div>
        <div class="footer-link">Defensa del Consumidor</div>
    </div>
    <div class="footer-data-wrapper">
        <div class="footer-data">
            Copyright &copy; 1999-2022 MercadoLibre S.R.L.
        </div>
        <div class="footer-data">
            Av. Caseros 3039, Piso 2. CP 1264, Parque Patricios, CABA
        </div>
        <div class="footer-data app-link">
            <a href="#">¡Descargá gratis la app de Mercado Libre!</a>
        </div>
    </div>
</footer>